#course-S2 {
  margin-left: 2rem;
}

#materias {
  h2 {
    font-weight: bold;
  }
}

#materias_checkboxes {
  height: 50vh;
  overflow-y: scroll;
}

.checkbox-option {
  align-items: center;
  gap: 0.5rem;
  display: flex;

  label {
    padding: 0.2rem;
    font-size: 1rem;
  }
}

.niveles-escuela{
  .niveles {
    background-color: #f2f2f2;
    color: #000000;
    border: 1px solid #999;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5em;
    width: 15rem;
    height: 2.2rem;
    font-size: 1.3em;
  }
}

.delete-checkbox{
  color: red;
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}

